name: osxcross x86_64
on:
  push:
  pull_request:

jobs:
  build:
    name: Build
    runs-on: macos-15-intel

    env:
      OSXCROSS_HOST: x86_64-apple-darwin21.4
      LD: x86_64-apple-darwin21.4-ld

    steps:
      - uses: actions/checkout@v4
      - name: Build
        shell: bash
        run: |
          # vcpkg
          echo -e "\e[0Ksection_start:`date +%s`:vcpkg-root[collapsed=true]\r\e[0KUpdating vcpkg"

          if [ -d "build/vcpkg-root" ]; then
            pushd build/vcpkg-root
            git fetch https://github.com/Microsoft/vcpkg master
            git reset --hard FETCH_HEAD
            popd
          else
            mkdir -p build
            git clone https://github.com/Microsoft/vcpkg build/vcpkg-root
          fi

          export VCPKG_ROOT=$(pwd)/build/vcpkg-root
          export VCPKG_BINARY_SOURCES="clear;files,$(pwd)/build/vcpkg-binary-cache,readwrite"

          mkdir -p "build/vcpkg-binary-cache"

          echo -e "\e[0Ksection_end:`date +%s`:vcpkg-root\r\e[0K"

          # apt_development
          echo -e "\e[0Ksection_start:`date +%s`:macports_development[collapsed=true]\r\e[0KInstalling development packages"
          osxcross-macports install curl libopenmpt libsdl2_mixer

          # apt_development
          echo -e "\e[0Ksection_end:`date +%s`:macports_development\r\e[0K"

          # cmake
          echo -e "\e[0Ksection_start:`date +%s`:cmake[collapsed=false]\r\e[0KBuilding Makefiles"
          cmake -B build.osxcross --toolchain /osxcross/toolchain.cmake -DCPM_USE_LOCAL_PACKAGES:BOOL=ON -DOPENMPT_INCLUDE_DIR:PATH="/osxcross/macports/pkgs/opt/local/include" -DSDL2_INCLUDE_DIR:PATH="/osxcross/macports/pkgs/opt/local/lib" -DSRB2_CONFIG_ENABLE_TESTS:BOOL=OFF -DSRB2_CONFIG_SYSTEM_LIBRARIES:BOOL=ON -DSRB2_CONFIG_USE_GME:BOOL=OFF -G "Unix Makefiles"

          # make
          echo -e "\e[0Ksection_end:`date +%s`:make\r\e[0K"

          # make
          echo -e "\e[0Ksection_start:`date +%s`:make[collapsed=false]\r\e[0KCompiling SRB2"
          make --directory=build.osxcross --keep-going || make --directory=build.osxcross --keep-going

          # make
          echo -e "\e[0Ksection_end:`date +%s`:make\r\e[0K"
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.repository.name }}-${{ github.ref_name }}-${{ github.sha }}-clang
          path: |
            build.osxcross/bin/
            build.osxcross/src/config.h
